/* ======= RESET Styles ======= */
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}

/* ======= HEADER Styles ======= */
.grid_container01 {
    padding: 0px 25px;
    display: grid;
    grid-template-columns: 150px 1fr 60px;   
}
.grid_container01 h1 {
    font-size: 34px;
    padding-top: 25px;
    /*  */
    display: inline-block;
    position: relative;
    font-family: 'LEMON MILK';
    font-weight: 400;
}
.grid_container01 p {
    position: absolute;
    left: 136px;
    top: 15px;
    font-size: 10px;
    font-family: 'Open Sans';
    font-weight: 400;
}
div.iconos {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: end;
    align-self: end;
    display: none;
}
.grid_container01 .icon {
    font-size: 26px;
    padding-bottom: 8px;
    padding-left: 16px;
}
.grid_container01 i {
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: end;
    align-self: end;
    padding-bottom: 4px;
    font-size: 30px;
    color: #55595C;
}
.imagen_fondo {
    margin-top: 21px;
    height: 63px;
    width: 100%;
    background-color: whitesmoke;
    background-image: url(/assets/img/image-banner.png);
    background-size: 100%;
    background-position: center;
}

/* ======= PROFILE_USER Styles ======= */
.grid_container02 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 85px 160px 1fr;
    padding-left: 25px;
}
.grid_container02 img {
    width: 65px;
    border-radius: 50%;
    margin-left: 0px;
}
.grid_container02 div:first-of-type {
    align-self: center;
}
.grid_container02 h3 {
    font-size: 20px;
    font-weight: 700;
}
.grid_container02 p {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #818181;
}
.grid_container02 button {
    display: none; 
    border: 0px;
    margin: 16px 0px;
    margin-left: 20px;
    color: white;
}
button.celeste {
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: #82d7e2;
}
button.ladrillo {
    grid-column-start: 5;
    grid-column-end: 6;
    background-color: #f85755;
}

.linea_divisoria {
    display: none;
    margin-top: 15px;
    border-top: 1px solid #818181;
}

/* ======= VIDEOS Styles ======= */
#videos h3 {
    margin-top: 24px;
    font-size: 21px;
    text-align: center;
    font-weight: 500;
}
.grid-container03 {
    margin-top: 23px;
    margin-bottom: 70px;
    padding: 0px 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px
}
.tarjeta img {
    height: 150px;
    width: 100%;
}
.tarjeta h5 {
    font-size: 16px;
    font-weight: 700;
    padding-top: 8px;
}
.tarjeta p {
    padding-top: 4px;
    color: #585858;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 500;
}


/* ======= MEDIA_QUERIES Styles ======= */
/* ======= Personal_Breakpoint: 480px ======= */
@media screen and (min-width: 480px) {
    .grid_container01, .grid_container02, #videos h3, .grid-container03 {
        padding: 0px 70px;
    }
    .grid_container01 p {
        left: 182px;
    }
    .tarjeta img {
        height: 200px;
    }
}
/* ======= Boostrap_md Breakpoint: 768px ======= */
@media screen and (min-width: 768px) {
    div.iconos {
        display: inline-block;
    }
    .imagen_fondo {
        height: 110px;
    }
    .grid_container02 {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 120px 160px 1fr 110px 110px 1px;
    }
    .grid_container02 button {
        display: inline; 
    }
    .linea_divisoria {
        display: block;
    }
    #videos h3 {
        text-align: start;
    }
    .grid-container03 {
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px 60px;
    }
}

/* ======= Boostrap_lg Breakpoint: 992px ======= */
@media screen and (min-width: 992px) {
    .grid_container01 p {
        left: 182px;
    }
    .imagen_fondo {
        height: 130px;
    }
    .grid-container03 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 40px 40px;
    }
    .tarjeta img {
        height: 110px;
    }
}

/* ======= Boostrap_xl Breakpoint: 1200px ======= */
@media screen and (min-width: 1200px) {
    .grid_container01, .grid_container02, #videos h3, .grid-container03 {
        padding: 0px 90px;
    }
    .grid_container01 p {
        left: 200px;
    }
    .imagen_fondo {
        height: 140px;
    }
    .grid-container03 {
        grid-gap: 40px 50px;
    }
    .tarjeta img {
        height: 130px;
    }
}

/* ======= Boostrap_xxl Breakpoint: 1200px ======= */
@media screen and (min-width: 1400px) {
    .grid_container01, .grid_container02, #videos h3, .grid-container03 {
        padding: 0px 140px;
    }
    .grid_container01 p {
        left: 250px;
    }
    .tarjeta img {
        height: 140px;
    }
}




/* ======= PERSONAL_MAQUETATION Styles ======= */
.rrrr {
    border: 1px solid red;
}
.gggg {
    border: 1px solid green;
}

/*
@media screen and (min-width: 768px) {
    p {
        font-size: 1rem;
    }
}
*/